@import '../../../../styles/variables/variables';

.title {
    padding: 20px 0;
    background-color: #fff;
    color: $custom-blue2;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
