<div class="wrapper">
  <nav class="nav">
    <a id="logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="nav__left">
      <img src="../../../../assets/images/logo.png" alt="" />
      <h1>Tweeter</h1>
    </a>
    <div class="nav__middle">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
      <a routerLink="explore" routerLinkActive="active">Explore</a>
      <a routerLink="bookmarks" routerLinkActive="active">Bookmarks</a>
    </div>
    <a class="nav__right">
      <img src="{{ profilePicture }}" alt="profile picture" />
      <a routerLink="profile" routerLinkActive="active">{{ name }}</a>
    </a>
  </nav>
</div>
