@import "../../../../styles/variables/variables";
@import "../../../../styles/variables/breakpoints";

.header {
  position: relative;

  &__banner {
    width: 100%;
    height: 500px;
    background-image: url("../../../../assets/images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 10px 0;
    display: flex;
    justify-content: center;
    width: 900px;

    @media screen and (max-width: $breakpoint-large) {
      width: 90vw;
    }

    @media screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 10px;
    }

    img {
      width: 140px;
      border-radius: 5px;
        transform: translateY(-30%);
    }

    &__left {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 10px;

      .desc {
          color: $custom-gray;
      }

      &__details {
        display: flex;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint-medium) {
          justify-content: center;
        }
      }
      .name {
          margin-right: 10px;
      }
      .following {
        margin-right: 10px;
        span {
          font-weight: bold;
          margin-right: 3px;
        }
      }
      .followers {
        margin-right: 10px;
        span {
          font-weight: bold;
          margin-right: 3px;
        }
      }
    }

    &__right {
      button {
        background-color: $custom-blue;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
  }
}
