<div class="feed">
  <div class="feed__left">
    <h1>Tweets</h1>
    <h1>Tweets & replies</h1>
    <h1>Media</h1>
    <h1>Likes</h1>
  </div>
  <div class="feed__right">
    <div class="feed__right__post">
      <div class="feed__right__post__top">
        <img src="../../../../assets/images/profile.png" alt="" />
        <div>
          <h1 class="name">Peyton Lyons</h1>
          <p class="date">24 August at 20:43</p>
        </div>
        <p>
          Traveling - leaves you speechless, then turns you into a storyteller
        </p>
      </div>
      <div class="feed__right__post__middle">
        <img src="../../../../assets/images/banner.jpeg" alt="" />
      </div>
      <div class="feed__right__post__bottom">
        <h1>Bottom</h1>
      </div>
    </div>
  </div>
</div>
